/* UI FIX */
/* Base FIX */
.elementor-accordion
{
	background: #FFFFFF;
}

.elementor-accordion .elementor-tab-content
{
	border-top: 0px !important;
}

.elementor-accordion .elementor-accordion-item
{
	padding: 7px;
}

.elementor-accordion-title
{
	color:black !important;
}


/* Button Fix */

.elementor-accordion-icon-opened, .elementor-accordion-icon-closed 
{
	width: 30px;
	height: 30px;
	padding:6px;
	border-radius:20px;
	margin-top: -10px;
}


.elementor-accordion-icon-opened
{
	background: black;
}

.elementor-accordion-icon-closed 
{
	background: #F3F5F6;
}


.elementor-accordion-icon-opened svg 
{
	fill: white; 
}


.elementor-accordion-icon-opened {
  animation: rotateOpened 0.3s ease-in-out forwards;
}

@keyframes rotateOpened {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.elementor-accordion-icon-closed {
  animation: rotateClosed 0.3s ease-in-out forwards;
}

@keyframes rotateClosed {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.elementor-widget-accordion .elementor-active .elementor-accordion-icon svg
{
	fill:white !important;
}

.elementor-widget-accordion .elementor-accordion-icon svg
{
	fill:black !important;
}


/* Border Fix */

.elementor-accordion .elementor-accordion-item {
	border:none !important;
}

.elementor-accordion .elementor-accordion-item:not(:last-child) {
    border-bottom: 1px solid #d5d8dc !important;
}


/* Add Number line */
.elementor-accordion-num
{
	font-family: 'Inter', sans-serif;
    font-size: 40px;
	color:#3C3C4380;
	position: absolute;
    left: 20px;
}

.elementor-accordion .elementor-accordion-item
{
	padding-left: 60px !important;
}


/* Mobile adept */

@media (max-width: 720px) {
    .elementor-accordion-num {
        font-family: 'Inter', sans-serif;
        /*margin-left: 14px; */
        font-size: 32px; 
        color: #3C3C4380;
		float: none;
		position: relative;
		
    }
}


@media (max-width: 720px) {
    .elementor-accordion .elementor-accordion-item {
        padding-left: 7px !important;
    }
}